@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
} */

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;

    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ck-editor__editable_inline {
    min-height: 320px;
}

.post-content-wrapper h4 {
    font-size: 1.25rem;
}
.post-content-wrapper h3 {
    font-size: 1.5rem;
}
.post-content-wrapper h2 {
    font-size: 1.75rem;
}

.post-content-wrapper p + p,
h1,
h2,
h3 {
    margin-top: 1rem;
}

.post-content-wrapper h1,
h2,
h3 {
    margin-bottom: 1rem;
}

/* media dark */
@media (prefers-color-scheme: dark) {
    .post-content-wrapper h1,
    h2,
    h3 {
        color: rgb(229 231 235);
    }
}
